<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/gsap/3.12.2/dist/gsap.min.js}"></script>
    <script th:src="@{/webjars/gsap/3.12.2/dist/ScrollTrigger.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap-5.1.3-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/screen-size.css}">
    <link rel="stylesheet" th:href="@{/js/OverlayScrollbars/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/js/air-datepicker-3/air-datepicker.css}">

    <link rel="icon" href="/img/sheet_black.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/sheet_black.ico" type="image/x-icon">

    <meta name="description" th:content="${pageDescription}">
    <meta name="keywords" th:content="${pageKeywords}">
    <link rel="canonical" th:href="${pageUrl}">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <script type="application/ld+json" th:inline="text">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "url": "[[${pageUrl}]]",
            "name": "[[${pageTitle}]]",
            "description": "[[${pageDescription}]]",
            "datePublished": "[[${datePublished}]]",
            "dateModified": "[[${dateModified}]]",
            "breadcrumb": {
                "@type": "BreadcrumbList",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Main"
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "Catalog"
                    },
                    {
                        "@type": "ListItem",
                        "position": 3,
                        "name": "[[${breadcrumbName}]]"
                    }
                ]
            },
            "inLanguage": "en-EN",
            "potentialAction": [
                {
                    "@type": "ReadAction",
                    "target": ["[[${readActionTarget}]]"]
                }
            ]
        }
    </script>

    <title th:text="${item.name}"></title>
</head>

<body class="container bg_white item">

<section class="position-relative mb-sm-5 mb-3">
    <div class="position-absolute top-0 w-100 height-auto">
        <div class="bg_nav_white"></div>
    </div>

    <th:block th:insert="~{en-fragments/nav :: nav-desktop-white}"></th:block>
    <th:block th:insert="~{en-fragments/nav :: nav-mobile-white}"></th:block>
    <th:block th:insert="~{en-fragments/all-menu :: all-menu}"></th:block>
    <th:block th:insert="~{en-fragments/enter :: enter-other-page}"></th:block>

    <div class="row mt-110px">
        <div class="col-11 d-none d-lg-flex justify-content-star align-items-center flex-wrap h4 text-uppercase">
            <a th:href="@{/en}" class="underline-one">MAIN</a>
            <a th:href="${entry.value}" th:each="entry, number : ${mapBreadCrumbs}">
                <img src="/img/vector-dash-black.svg" class="ps-3 pe-3" alt="vector-dash">
                <span class="underline-one" th:text="${entry.key} ">catalog</span></a>
        </div>
        <div class="col-1 d-none d-lg-flex justify-content-end align-items-center"><img src="/img/sheet_black.svg"
                                                                                        alt="sheet">
        </div>

        <div class="col-12 mt-2">
            <div class="border-top-black d-flex align-items-center justify-content-start">
                <button class="btn_back h5" onclick="window.history.back()"><img class="btn_back__img"
                                                                                 src="/img/jackdaw.svg" alt=""><span
                        class="btn_back__text underline-one">Back</span></button>
            </div>
        </div>
        <div class="col-12">
            <div class="border-top-black"></div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-3 col-5 pe-3 item-img z-index-2 position-relative">
            <div class="border-right-black d-flex justify-content-center align-items-center overflow-hidden height-along-central-column" style="height: 100px">
                <img th:src="${item.photo}" alt="item">
            </div>
        </div>
        <div class="col-lg-6 col-7 pe-lg-3 central-column">
            <div class="row g-0">
                <div class="col-12 mt-4 pt-2 h3 text-uppercase text-center"><h1 class="h3" th:text="${item.name}"></h1></div>
                <div class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-96px h5 d-flex justify-content-between">
                    <div class="fw-300 text-uppercase">item</div>
                    <div class="h5-num" th:text="${item.articleNumber}"></div>
                </div>
                <div class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-1 border-top-black"></div>
                <div class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-lg-4 mt-2 h5 d-flex justify-content-between">
                    <div class="fw-300 text-uppercase">country</div>
                    <div class="h5-num" th:text="${item.country}"></div>
                </div>
                <div th:if="${item.type.toString() == 'ACCESSORY'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-1 border-top-black"></div>
                <div th:if="${item.type.toString() == 'ACCESSORY'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-lg-4 mt-2 h5 d-flex justify-content-between">
                    <div class="fw-300 text-uppercase">Type of accessory</div>
                    <div class="h5-num" th:text="${item.type.toString()OfAccessory}"></div>
                </div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-1 border-top-black"></div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-lg-4 mt-2 h5 d-flex justify-content-between">
                    <div class="fw-300 text-uppercase">length</div>
                    <div class="h5-num" th:text="${item.size}">140</div>
                </div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-1 border-top-black"></div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-lg-4 mt-2 h5 d-flex justify-content-between">
                    <div class="fw-300 text-uppercase">Ring Gauge</div>
                    <div class="h5-num" th:text="${item.ringGauge}"></div>
                </div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-1 border-top-black"></div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-lg-4 mt-2 h5 d-flex justify-content-between">
                    <div class="fw-300 text-uppercase">fortress</div>
                    <th:block th:switch="${item.fortress}">
                        <div th:case="0" class="d-flex justify-content-center align-items-center">
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                        </div>
                        <div th:case="1" class="d-flex justify-content-center align-items-center">
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                        </div>
                        <div th:case="2" class="d-flex justify-content-center align-items-center">
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                        </div>
                        <div th:case="3" class="d-flex justify-content-center align-items-center">
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                        </div>
                        <div th:case="4" class="d-flex justify-content-center align-items-center">
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips ms-2"></div>
                        </div>
                        <div th:case="5" class="d-flex justify-content-center align-items-center">
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                            <div class="fortress_elips fortress_elips_active ms-2"></div>
                        </div>

                    </th:block>
                </div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-1 border-top-black"></div>
                <div th:if="${item.type.toString() == 'CIGAR'}" class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-lg-4 mt-2 h5 d-flex justify-content-between">
                    <div class="fw-300 text-uppercase">Factory format</div>
                    <div class="h5-num" th:text="${item.factoryName}"></div>
                </div>
                <div class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-1 border-top-black"></div>
                <div class="offset-xxl-2 col-xxl-8 offset-1 col-10 mt-sm-5 mt-3 h5 text-align-justify"
                     th:text="${item.description}"></div>
                <div class="mt-75px"></div>
            </div>
        </div>
        <div class="col-lg-3 ps-lg-3">
            <div class="border-left-black height-along-central-column position-relative">
                <div class="position-absolute top-50 translate-middle-y ps-lg-4 pe-lg-4 w-100 h5">
                    <div class=" fw-300 text-uppercase text-lg-start text-center">packaging option</div>
                    <div class="w-100 mt-2">
                        <div class="border-top-black"></div>
                    </div>
                    <div class="mt-4 d-lg-block d-flex justify-content-sm-around justify-content-between align-items-center">
                        <div th:each="entry, number : ${item.option}" class="d-flex align-items-center mb-2">
                            <input class="checkbox-filter me-3" th:id="${number.count + '_' + entry.key}" type="radio"
                                   name="packagingOption"
                                   th:value="${entry.value}"
                                   th:data-name-value="${entry.key}"
                                   th:checked="${number.count == 1}">
                            <label class="ff-lato" th:for="${number.count + '_'  + entry.key}" th:text="${entry.key}"></label>
                        </div>
                    </div>
                    <div class="fw-300 text-uppercase text-lg-start text-center mt-sm-5 mt-3">quantity</div>
                    <div class="w-100 mt-2">
                        <div class="border-top-black"></div>
                    </div>
                    <div class="h3-num d-flex justify-content-lg-between justify-content-sm-evenly justify-content-between align-items-center mt-4">
                        <a id="minus-item" href="">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M4.53516 15.1045H24.4629C24.9633 15.1045 25.3691 14.6987 25.3691 14.1982C25.3691 13.6978 24.9633 13.292 24.4629 13.292H4.53516C4.03464 13.292 3.62891 13.6978 3.62891 14.1982C3.62891 14.6987 4.03464 15.1045 4.53516 15.1045Z"
                                        fill="grey"/>
                            </svg>
                        </a>
                        <div id="quantity-of-item">1</div>
                        <a id="plus-item" href="#">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="Add / undefined / Glyph: undefined">
                                    <path id="Vector"
                                          d="M24.7734 14.1931C24.7734 14.6519 24.4327 15.0312 23.9903 15.0912L23.8674 15.0996L15.1068 15.101L15.1068 23.8652C15.1068 24.3657 14.701 24.7714 14.2005 24.7714C13.7417 24.7714 13.3625 24.4304 13.3025 23.9882L13.2943 23.8652L13.2943 15.101L4.53494 15.1034C4.03445 15.1035 3.62845 14.6979 3.62845 14.1974C3.62845 13.7386 3.9692 13.3593 4.41157 13.2993L4.53458 13.2909L13.2943 13.2885L13.2943 4.5293C13.2943 4.02878 13.7 3.62305 14.2005 3.62305C14.6593 3.62305 15.0385 3.96398 15.0986 4.40632L15.1068 4.5293L15.1068 13.2885L23.867 13.2871C24.3675 13.2869 24.7734 13.6926 24.7734 14.1931Z"
                                          fill="black"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="w-100 mt-110px">
                        <div class="border-top-black"></div>
                    </div>
                    <div class="h4 fw-300 text-uppercase mt-4 d-flex justify-content-lg-between justify-content-sm-evenly justify-content-between align-items-center">
                        <div class="text-uppercase h3">price</div>
                        <div class="text-uppercase h3-num "><span id="endPrice" class="me-1"
                                                                  th:data-price="${item.price}"
                                                                  th:text="${item.price}"></span>р.
                        </div>
                    </div>

                    <div class="btn-buy--box h5 mt-4 mb-5">
                        <a class="btn-buy--minus-item btn-buy--close" th:onclick="|minusItemInBasketFromCatalog(${item.id})|"
                        style="width: 0;">
                            <svg width="40" height="40" viewBox="0 0 40 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M4.53516 15.1045H24.4629C24.9633 15.1045 25.3691 14.6987 25.3691 14.1982C25.3691 13.6978 24.9633 13.292 24.4629 13.292H4.53516C4.03464 13.292 3.62891 13.6978 3.62891 14.1982C3.62891 14.6987 4.03464 15.1045 4.53516 15.1045Z"
                                        fill="grey" />
                            </svg>
                        </a>
                        <div class="btn-buy--quantity-item btn-buy--close h3-num" style="width: 0;">1</div>
                        <button class="btn-buy--in-basket flat-button"
                                th:data-item-id="${item.id}"
                                th:onclick="|addItemInBasket(${item.id}, getValueFromRadio())|">
                            <div class="fc-white">Add to cart</div></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="border-top-black"></div>
            <div class="mt-96px h1-64 text-uppercase text-center">similar products</div>
        </div>
    </div>
    <div class="row mt-sm-5 mt-3 z-index-2 position-relative">
        <div th:class="${item.getClassCssForListSimilarProductsOnPageItem(number.count)}" th:each="item, number : ${listSimilarProducts}">
            <a th:href="${'/en/item/' + item.id}">
                <div class="catalog__card_img_div"><img class="catalog__card_img" th:src="${item.photo}"
                                                        th:alt="${item.name}"></div>
            </a>
                <div class="catalog__card_padding_text">
                    <div class="mt-2 catalog__card_name h5" th:text="${item.name}">
                        <a th:text="${item.name}"></a>
                    </div>
                    <div class="border-top-black mt-1"></div>
                    <div class="h5 pe-1 text-uppercase d-flex justify-content-between">
                        <div class="ff-lato" th:text="${item.price + ' р.'}"></div>
                        <div><a th:href="${'/en/item/' + item.id}">Watch</a></div>
                    </div>
                </div>

        </div>
    </div>
</section>
<th:block th:insert="~{en-fragments/footer :: footer-white}"></th:block>
<script th:src="@{/js/smoothscroll/SmoothScroll.js}"></script>
<script th:src="@{/js/OverlayScrollbars/OverlayScrollbars.min.js}"></script>
<script th:src="@{/js/air-datepicker-3/air-datepicker.js}"></script>
<script th:src="@{/js/en-js-file/global-js.js}"></script>
<script th:src="@{/js/en-js-file/item-js.js}"></script>
<script th:src="@{/js/en-js-file/search.js}"></script>
<script th:src="@{/js/en-js-file/basket.js}"></script>

</body>

</html>